body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#222;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:100px;
background:#007bff;
color:white;
}

.btn{
background:white;
padding:10px 20px;
text-decoration:none;
color:#007bff;
}

.products{
display:flex;
justify-content:center;
gap:30px;
margin:40px;
}

.product{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
}

.product img{
width:200px;
}

button{
background:#28a745;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

.title{
text-align:center;
margin-top:30px;
}
